<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instagram-scraper</title>
</head>
<body>
    Загрузите файл, в котором каждый username будет на новой строке
    <form id="submit-form" enctype="multipart/form-data" method="post">
        <input type="file" name="q"><br>
        <input type="submit" value="Submit">
    </form>
    <!--<script src="/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="/js/main.js"></script>-->
</body>

</html>